
.form-control:invalid {
    border-color: #dc3545;
}

.register-container{
    margin-top: 2%;
    margin-bottom: 2%;
}


.form-check-label{
    color: #ff6200;
    font-weight: 600;
    text-decoration: none;
    font-size: 80%;
}
.form-group .btn{
    margin-left: 5px;
}